@media (min-width:320px) and (max-width:600px){
    body{
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* recherche */
    .recherche{
        height: 20vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #recherche{
        padding: 15px;
        border-radius: 20px 20px;
    }
    /* contenair_tutoriels */
    .contenair_tutoriels{
        height: 70vh;
        background-color: #343442 ;
    }
    .description{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
    }
    .description p{
        text-align: justify;
        margin: 25px;
    }
    .description h3{
        text-align: center;
    }
    .contenair_article{
        width: 100%;
        height: 60vh;
        background-color: white;
    }
    .section_one{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40%;
        background-color: #343442;
    }

    .articleOne{
        height: 90%;
        width: 45%;
        background-color: blanchedalmond;
    }
    .articleTwo{
        height: 95%;
        width: 45%;
        background-color: blanchedalmond;
    }
    .bg_img{
        height: 60%;
        width: auto;
        background-image: url("https://cdn.pixabay.com/photo/2019/04/17/11/13/laying-hens-4133960_960_720.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg_img1{
        height: 60%;
        width: auto;
        background-image: url("https://i.pinimg.com/originals/c7/42/7a/c7427aebc60cdc68570469c48d4a092e.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg_img2{
        height: 60%;
        width: auto;
        background-image: url("https://cdn.pixabay.com/photo/2019/04/17/11/13/laying-hens-4133960_960_720.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg_img3{
        height: 60%;
        width: auto;
        background-image: url("https://i.pinimg.com/originals/c7/42/7a/c7427aebc60cdc68570469c48d4a092e.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h3{
        margin: 0;
        padding-left: 50%;
        color: white;
    }
    .h3{
        padding-left: 35%;
    }
    .text{
        height: 25%;
        width: auto;
        background-color: white;
        overflow: hidden;
    }
    .decrit{
        font-size: 0.7em;
        width: 90%;
        margin: 0;
        padding: 5px;
        text-align: justify;
    }
    /* section two */
    .section_two{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40%;
        background-color: black;
    }
    .articleTrois{
        height: 90%;
        width: 45%;
        background-color: blanchedalmond;
    }
    .articleQuatre{
        height: 90%;
        width: 45%;
        background-color: blanchedalmond;
    }
    /* footer */
    footer{
        height: 55px;
        background-color: white;
        text-align: center;
    }
    footer p{
        padding-top: 20px;
    }
}